﻿<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <!-- Title Page-->
    <title>Dashboard</title>
    <!-- Fontfaces CSS-->
    <link href="~/Contents/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Contents/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Contents/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Contents/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <!-- Bootstrap CSS-->
    <link href="~/Contents/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <!-- Vendor CSS-->
    <link href="~/Contents/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Contents/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Contents/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/Contents/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Contents/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Contents/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Contents/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="~/Contents/css/theme.css" rel="stylesheet" media="all">
    <script src="~/Contents/vendor/jquery-3.2.1.min.js"></script>
</head>
<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a href="">
                            <h2>@Html.ActionLink("SMARTTOUR", "Index", "Home") </h2>
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">


                        @if (User.IsInRole("Developer"))
                        {
                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-tachometer-alt"></i>Rooms
                                </a>
                                <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                    <li>
                                        <a href="">
                                            <h2>@Html.ActionLink("Entrance Room", "EntranceRoom", "Rooms") </h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <h2>@Html.ActionLink("Server Room", "ServerRoom", "Rooms") </h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <h2>@Html.ActionLink("Generator Room", "GeneratorRoom", "Rooms") </h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <h2>@Html.ActionLink("ODC Office ", "ODCOffice", "Rooms") </h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <h2>@Html.ActionLink("UPS A", "UPSA", "Rooms") </h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <h2>@Html.ActionLink("UPS B", "UPSB", "Rooms") </h2>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <li>
                            <a class="js-arrow" href="@Url.Action("Index", "Home")" ">
                                <i class="fas fa-tachometer-alt"></i>Inicio
                            </a>
                        </li>
                        @if (User.IsInRole("Developer"))
                        {
                            <li>
                                <a href="@Url.Action("Stadistics", "Home")">
                                    <i class="fas fa-chart-bar"></i>Estadisticas
                                </a>
                            </li>
                        } else if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a href="@Url.Action("Stadistics", "Home")">
                                    <i class="fas fa-chart-bar"></i>Estadisticas
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Developer"))
                        {
                            <li>
                                <a href="@Url.Action("Index", "Roles")">
                                    <i class="fas fa-chart-bar"></i>Control Usuarios
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo" >
                <a href="">
                    <h2>@Html.ActionLink("SMARTTOUR", "Index", "Home") </h2>
                </a>
                
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a class="js-arrow" href="@Url.Action("Index", "Home")" ">
                                <i class="fas fa-tachometer-alt"></i>Inicio
                            </a>
                        </li>
                        @if (User.IsInRole("Developer"))
                        {
                            <li>
                                <a href="@Url.Action("Stadistics", "Home")">
                                    <i class="fas fa-chart-bar"></i>Estadisticas
                                </a>
                            </li>
                        }else if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a href="@Url.Action("Stadistics", "Home")">
                                    <i class="fas fa-chart-bar"></i>Estadisticas
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Developer"))
                        {
                            <li>
                                <a href="@Url.Action("Index", "Roles")">
                                    <i class="fas fa-group"></i>Control Usuarios
                                </a>
                            </li>
                        }



                        @if (User.IsInRole("Developer"))
                        {
                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-desktop"></i>ROOMS
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    @*
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                                    *@
                                    <li>
                                        <a href="">
                                            <h2>@Html.ActionLink("Entrance Room", "EntranceRoom", "Rooms") </h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <h2>@Html.ActionLink("Server Room", "ServerRoom", "Rooms") </h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <h2>@Html.ActionLink("Generator Room", "GeneratorRoom", "Rooms") </h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <h2>@Html.ActionLink("ODC Office ", "ODCOffice", "Rooms") </h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <h2>@Html.ActionLink("UPS A", "UPSA", "Rooms") </h2>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <h2>@Html.ActionLink("UPS B", "UPSB", "Rooms") </h2>
                                        </a>
                                    </li>




                                </ul>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                
                            </form>
                            <div class="header-button">
                                <div class="noti-wrap">
                                    
                                  
                                </div>
                                <div class="account-wrap">
                                    @Html.Partial("newLoginPartial")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- HEADER DESKTOP-->
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div >
                        <p>Copyright © 2024 GBM DOMINICANA. All rights reserved. <a href="">DataCenter</a>.</p>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
    </div>
    <!-- Jquery JS-->
  
    <!-- Bootstrap JS-->
    <script src="~/Contents/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Contents/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/Contents/vendor/slick/slick.min.js"></script>
    <script src="~/Contents/vendor/wow/wow.min.js"></script>
    <script src="~/Contents/vendor/animsition/animsition.min.js"></script>
    <script src="~/Contents/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/Contents/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Contents/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="~/Contents/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/Contents/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Contents/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/Contents/vendor/select2/select2.min.js"></script>
    <!-- Main JS-->
    <script src="~/Contents/js/main.js"></script>

    @Scripts.Render("~/bundles/jquery")
   
    @RenderSection("scripts", required: false)
</body>
</html>
<!-- end document-->
