﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="account-item clearfix js-item-menu">
            <div class="image">

            </div>
            <div class="content">
                @using Microsoft.AspNet.Identity

                <a class="js-acc-btn" href="#">
                    @Html.Label(User.Identity.GetUserName())
                </a>
                <div class="account-dropdown js-dropdown">
                    <div class="account-dropdown__body">
                        <div class="account-dropdown__item">

                            @Html.ActionLink("Ajustes de Cuenta", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </div>

                    </div>
                    <div class="account-dropdown__footer">
                        <a href="javascript:document.getElementById('logoutForm').submit()">
                            <i class="zmdi zmdi-power"></i>Log off
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="account-item clearfix js-item-menu">
        <div class="image">

        </div>
        <div class="content">
            @using Microsoft.AspNet.Identity


            <a class="js-acc-btn" href="#">
                Acceder
            </a>
            <div class="account-dropdown js-dropdown">
                <div class="account-dropdown__body">
                    <div class="account-dropdown__item">

                        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </div>

                </div>
                <div class="account-dropdown__footer">
                    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })


                </div>
            </div>
           
        </div>
    </div>

    
   
}
