﻿@using SistemaVisitas.Models
@model GeneratorRoomViewModel
@{
    ViewData["Title"] = "Generator Room";
}



@using (Html.BeginForm("GeneratorRoom", "Rooms", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="card">
        <div class="card-header">
            <h2><strong>GENERATOR ROOM</strong></h2>
        </div>
        <div class="card-body card-block">
            <hr />
            <h4> <label style="padding-left:20px;" class=" form-control-label">Generadores Electricos</label> </h4>
            <hr />
            <div class="row form-group" style="padding-left:2em;">
                <div class=" col-md-3">
                    <label class=" form-control-label">Prueba de Bomba</label>
                </div>
                <div class=" col-md-1">
                    <div class="form-check">
                        <div class="checkbox">
                           <label class="switch switch-text switch-primary">
                               @Html.CheckBoxFor(m => m.PRUEBA_BOMBA, new { @class = "switch-input", @checked = "checked" })
                               <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                               <span class="switch-handle" style="width:25px;"></span>
                           </label>
                        </div>
                    </div>
                </div>

                <div class=" col-md-3">
                    <label for="CARGADOR_BATERIA" class=" form-control-label">Cargador Bateria</label>
                </div>
                <div class=" col-md-3">

                    @Html.TextBoxFor(m => m.CARGADOR_BATERIA, new { @class = "form-control", @placeholder = "°" })
                    @Html.ValidationMessageFor(m => m.CARGADOR_BATERIA, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="row form-group" style="padding-left:2em;">
                <div class=" col-md-3">
                    <label class=" form-control-label">Posicion breakers</label>
                </div>
                <div class=" col-md-1">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.POSICION_BREAKERS, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class=" col-md-3">
                    <label for="NIVEL_COMBUSTIBLE" class=" form-control-label">Nivel Combustible Tanque</label>
                </div>
                <div class=" col-md-3">
                    @Html.TextBoxFor(m => m.NIVEL_COMBUSTIBLE, new { @class = "form-control", @placeholder = "°" })
                    @Html.ValidationMessageFor(m => m.NIVEL_COMBUSTIBLE, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="row form-group" style="padding-left:2em;">
                <div class=" col-md-4">
                    <label class=" form-control-label">Estados contactos de la bateria</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.CONTACTOS_BATERIA, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <label class=" form-control-label">Fuga de aceite</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.FUGA_ACEITE, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group" style="padding-left:2em;">
                <div class=" col-md-4">
                    <label class=" form-control-label">Tablero Generador 1</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.TABLERO_G1, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <label class=" form-control-label">Tablero Generador 2</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.TABLERO_G2, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>




            <hr />
            <h4> <label style="padding-left:20px;" class=" form-control-label">Tanque de Combustible</label> </h4>
            <hr />



            <div class="row form-group"  style="padding-left:2em;">
                <div class=" col-md-3">
                    <label class=" form-control-label">Extintor</label>
                </div>
                <div class=" col-md-1">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.EXTINTOR, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" col-md-2">
                    <label for="text-input" class=" form-control-label">Nivel de Gasoil</label>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.NIVEL_GASOIL, new { @class = "form-control", @placeholder = "°" })
                    @Html.ValidationMessageFor(m => m.NIVEL_GASOIL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row form-group" style="padding-left:2em;">
                <div class=" col-md-4">
                    <label class=" form-control-label">Valvula de desague</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.VALVULA_DESAGUE, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <label class=" form-control-label">Desague Obstruido</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.DESAGUE_OBSTRUIDO, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

          
            <div class="row form-group"  style="padding-left:2em;">
                <div class=" col-md-4">
                    <label class=" form-control-label">Valvulas de Tanques</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.VALVULA_TANQUES, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <label class=" form-control-label">Observar Letreros</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.LETREROS, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row form-group"  style="padding-left:2em;">
                <div class="col col-md-3">
                    <label class=" form-control-label">Limpieza General</label>
                </div>
                <div class="col col-md-3">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.LIMPIEZA_GENERAL, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-dot-circle-o">Finalizar</i>  @*Html.ActionLink("Enviar", "ODCOffice", "Rooms", null, new { @class = "btn-primary" })*@
            </button>
            <button type="reset" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i> Reset
            </button>
        </div>
    </div>  

}
