﻿@using SistemaVisitas.Models
@model OdcOfficeViewModel
@{
    ViewData["Title"] = "Oficina ODC";
}

<h3>@ViewData["Message"]</h3>



@using (Html.BeginForm("ODCOFFICE", "Rooms", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{ 
    <div class="card">
        <div class="card-header">
            <h2><strong>ODC OFFICE</strong></h2>
        </div>
        <div class="card-body card-block">
            <div class="row form-group" style="padding-left:2em;">

                <label class=" form-control-label"><strong>Monitorear </strong></label>

            </div>            <div class="row form-group" style="padding-left:2em;">
                <div class=" col-md-4">
                    <label class=" form-control-label">Smart Capacity</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                           <label class="switch switch-text switch-primary">
                               @Html.CheckBoxFor(m => m.SMART_CAPACITY, new { @class = "switch-input", @checked = "checked" })
                               <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                               <span class="switch-handle" style="width:25px;"></span>
                           </label>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <label class=" form-control-label">Ambiente DataCenter</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.AMBIENTE_DT, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-group" style="padding-left:2em;">
                <div class=" col-md-4">
                    <label class=" form-control-label">Veeam BackUp</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.VEEAM_BC, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <label class=" form-control-label">VCenter</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.VCENTER, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group" style="padding-left:2em;">
                <div class=" col-md-4">
                    <label class=" form-control-label">Blade Center</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.BLADE_CENTER, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <label class=" form-control-label">DVR ODC</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.DVR_ODC, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group" style="padding-left:2em;">
                <div class=" col-md-4">
                    <label class=" form-control-label">NVR Interno</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.NVR_INT, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <label class=" form-control-label">NVR Externo</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.NVR_EXT, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group" style="padding-left:2em;">
                <div class=" col-md-4">
                    <label class=" form-control-label">HMC</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.HMC, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <label class=" form-control-label">NetBotz</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.NETBOTZ, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group" style="padding-left:2em;">
                <div class=" col-md-4">
                    <label class=" form-control-label">VIOS1</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.VIOS1, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <label class=" form-control-label">VIOS2</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.VIOS2, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group" style="padding-left:2em;">
                <div class=" col-md-4">
                    <label class=" form-control-label">Librerias TL01</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.LIB_TL01, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <label class=" form-control-label">Librerias TL02</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.LIB_TL02, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group" style="padding-left:2em;">
                <div class=" col-md-4">
                    <label class=" form-control-label">StruxureWare DataCenter</label>
                </div>
                <div class=" col-md-2">
                    <div class="form-check">
                        <div class="checkbox">
                            <label class="switch switch-text switch-primary">
                                @Html.CheckBoxFor(m => m.STRUXUREW, new { @class = "switch-input", @checked = "checked" })
                                <span data-on="OK" data-off="NO OK" class="switch-label" style="width:60px;"> </span>
                                <span class="switch-handle" style="width:25px;"></span>
                            </label>
                        </div>
                    </div>
                </div>
                
            </div>




        </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o">Continuar</i> 

                </button>
                <button type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                </button>
            </div>
        </div>
}