@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <h2 class="title-1 m-b-25">Revisiones Pendientes</h2>
    <div class="table-responsive table--no-card m-b-40">
        <table class="table table-borderless table-striped table-earning">
            <thead>
                <tr>                   
                    <th>Hora</th>
                    <th class="text-right"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var i in ViewBag.HoursToVisit)
                {
                    DateTime x = i;

                    if (i > DateTime.Now)
                    {
                        <tr>
                            <td>@x.ToShortTimeString()</td>
                            <td class="text-right">
                                <button>
                                    @Html.ActionLink("Iniciar", "ODCOffice", "Rooms", null, new { @class = "au-btn btn btn-default disabled" })
                                </button>
                            </td>
                        </tr>
                    }
                    else if(i < DateTime.Now.AddHours(-3)){
                    
                    
                    
                    }
                    else
                    {

                        <tr>
                            <td>@x.ToShortTimeString()</td>
                            <td class="text-right">
                                <button disabled>
                                    @Html.ActionLink("Iniciar", "ODCOffice", "Rooms", null, new { @class = "au-btn btn btn-default " })
                                </button>
                            </td>
                        </tr>


                    }

                    
                }


            </tbody>
        </table>
    </div>
</div>


